.glitch-text {
  position: relative;
  font-size: 8vmin;
  font-family: var(--font-heading);
  text-transform: uppercase;
  color: var(--color-accent);
  text-shadow: 0 0 10px var(--color-accent);
}

.glitch-text__row {
  display: block;
}
.glitch-text__row:nth-child(1) {
  clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
}
.glitch-text__row:nth-child(2) {
  clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
}
.glitch-text__row:nth-child(3) {
  clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
}
.glitch-text__row:nth-child(4) {
  clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
}

.glitch-text__row--sibling {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}

.glitch-text__inner {
  display: block;
  transform-origin: bottom left;
  animation: glitchMove 2s cubic-bezier(.36,0,.06,1) alternate infinite;
}
.glitch-text__row:nth-child(2) .glitch-text__inner { transform: translateY(-0.3em) scaleY(1.1); }
.glitch-text__row:nth-child(3) .glitch-text__inner { transform: translateY(-0.5em) scaleY(1.2); }
.glitch-text__row:nth-child(4) .glitch-text__inner { transform: translateY(-0.7em) scaleY(1.3); }

@keyframes glitchMove {
  0% { opacity: 0; filter: blur(10px); }
  50%, 100% { transform: translateY(0); opacity: 1; filter: blur(0); }
}
